/* ==========================================================================
   Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    position: relative;
    margin: 8rem 0 0 0;
    padding: 1rem 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    color: #BBC7CC;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    border-bottom: #bbc7cc 1px solid;
}

.site-footer-nav {
    display: block;
    /*width: 45%;*/
    float: right;
    text-align: right;
}

.copyright {
    display: block;
    width: 45%;
    float: left;
}

.site-footer-nav svg {
    height: 2rem;
    fill: #BBC7CC;
    transition: fill 0.3s ease;
}

.site-footer-nav .social-link-twitter svg {   
    &:hover {
        fill: #1da1f2;
    }
}

.site-footer-nav .social-link-facebook svg {
    &:hover {
        fill: #4267b2;
    }
}

.site-footer-nav .social-link-google-plus svg {
    &:hover {
        fill: #dc4e41;
    }
}

.site-footer-nav .social-link-linkedin svg {
    &:hover {
        fill: #0077b5;
    }
}
