.main-header {
    position: relative;
    display: table;
    width: 100%;
    min-height: 160px;
    height: 40vh;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;

    .inner {
        width: $content-width;
    }

    &.no-cover {
        background: #f5f8fa;
    }

    /* post header */
    &.post-head {
        height: 65vh;
        min-height: 180px;

        &.no-cover {
            height: 85px;
            min-height: 0;
            margin-bottom: 0;
            background: transparent;
        }
    }

    /* tag header */
    &.tag-head {
        height: 40vh;
        min-height: 180px;
    }

    /* author page header*/
    &.author-head {
        height: 40vh;
        min-height: 180px;

        &.no-cover {
            height: 10vh;
            min-height: 100px;
            background: transparent;
        }
    }
}

/* On page2+ make all the headers smaller */
.paged .main-header {
    max-height: 30vh;
}

@media only screen and (max-width: 900px) {
    .main-header {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        min-height: 240px;
        height: 60vh;
        padding: 15% 0;

        &.post-head {
            height:45vh;

            &.no-cover {
                height: 55px;
                padding: 0;
            }
        }

        &.tag-head {
            height: 30vh;
        }

        &.author-head {
            height: 30vh;

            &.no-cover {
                padding: 0;
            }
        }
    }

    .paged .main-header {
        min-height: 180px;
        padding: 10% 0;
    }
}

@media only screen and (max-width: 500px) {
    .main-header {
        margin-bottom: 15px;
        height: 40vh;

        &.no-cover {
            height: 30vh;
        }

        &.post-head {
            height: 30vh;
        }

        &.tag-head {
            height: 20vh;
        }

        &.author-head {
            height: 20vh;
        }
    }

    .paged .main-header {
        max-height: 20vh;
        min-height: 160px;
        padding: 10% 0;

        .page-description {
            display: none;
        }
    }
}