.main-nav {
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    transition: transform 250ms ease-in-out;
    border-bottom: 2px solid #f2f2f2;
    background: rgba(255, 255, 255, 0.96);

    .nav-wrapper {
        position: relative;
        width: $content-width;
        max-width: $content-max-width;
        margin: 0 auto;
    }

    ul.nav {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        white-space: nowrap; // do not wrap children

        li {
            display: inline-block;
            margin: 0;

            margin-left: 25px;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    &.overlay {
        background: white;
    }

    &.headroom--pinned {
        transform: translateY(0%);
    }

    &.headroom--unpinned {
        transform: translateY(-100%);
    }

    .nav-hamburger-open, .nav-hamburger-close {
        display: none;
        padding-top: 0.1rem;

        svg {
            height: 1.8rem;
        }
    }
}

@media only screen and (max-width: $tablet-width-threshold) {
    .main-nav {
        .nav-wrapper {
            width: 90%;
        }
        
        ul.nav {
            float: left;

            li {
                &:not(:first-of-type) {
                    display: none;
                    margin-left: 0;
                    margin-top: 1.8rem;
                }
            }
        }

        &.menu-opened {
            ul.nav {
                li {
                    display: block;
                }
            }

            .nav-hamburger-open {
                display: none;
            }

            .nav-hamburger-close {
                float: right;
                display: block;
            }
        }
    
        .nav-hamburger-open {
            float: right;
            display: block;
        }
    }
}

@media only screen and (max-width: $mobile-width-threshold) {
    .main-nav {
        padding: 1.6rem 0;
    }
}