.main-nav {
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    transition: transform 250ms ease-in-out;
    border-bottom: 2px solid #f2f2f2;
    background: rgba(255, 255, 255, 0.92);

    ul.nav {
        list-style: none;
        margin: 13px 0 0 0;
        padding: 0;

        position: absolute; // align left
        white-space: nowrap; // do not wrap children

        li {
            display: inline-block;

            margin-left: 25px;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    &.overlay {
        background: white;
    }

    &.headroom--pinned {
        transform: translateY(0%);
    }

    &.headroom--unpinned {
        transform: translateY(-100%);
    }

    /* .nav-hamburger {
        display: none;

        svg {
            height: 1.8rem;
            margin-top: 1.4rem;
        }
    } */
}

/* index page with no cover image */
.no-cover .main-nav.overlay {
    background: none;
}

/* @media only screen and (max-width: $tablet-width-threshold) {
    .main-nav {
        ul.nav {
            li {
                &:not(:first-of-type) {
                    display: none;
                }
            }
        }

        &.responsive {
            ul.nav {
                li {
                    display: block;
                    float: none;
                }
            }
        }
    
        .nav-hamburger {
            float: right;
            display: block;
        }
    }
} */